/* .input-group-text {
    position: relative;
    bottom: 0px;
    left: 16px;
    width: 20%;
    top: 300px;
  } */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
ul {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.menu__list {
  /* position: absolute; */
  display: inline-block;
  width: 25%;
}

.menu__list--link {
  text-decoration: none;
  color: #4b4b4b;
}
.nav-item1 {
  float: none;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.nav-item2 {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-item3 {
  float: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
/* hover */

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}
.footer {
  position: absolute;
  flex-direction: row;
}
/* .right { */
/* float: right; */
/* position: relative; */
/* height: 500px; */
/* left: 850px; */
/* top: 0px; */
/* width: auto; */
/* } */
.tittle {
  font-family: "Poppins", cursive;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
