.body {
  background-color: #ffffff;
}
.column {
  float: left;
  position: absolute;
  width: auto;
  height: 500px;
  left: 0px;
  top: 0px;
  max-width: fit-content;
  background: #3366ff;
}
.column2 {
  float: right;
  position: relative;
  height: 500px;
  left: 850px;
  top: 0px;
  width: auto;

  background: #ffffff;
}
.form-group {
  max-width: fit-content;
}
