.body {
  background-color: #ffffff;
}
.column {
  float: left;
  position: absolute;
  width: 600px;
  height: 500px;
  left: 0px;
  top: 0px;

  background: #3366ff;
}
.column2 {
  float: right;
  position: relative;
  width: 200px;
  height: 500px;
  left: 850px;
  top: 0px;

  background: #ffffff;
}
